span {
  --offset-left-and-width: 45px;
  --heigth-and-line-height: 28px;

  @media (max-width: 992px) {
    --offset-left-and-width: 40px;
    --heigth-and-line-height: 24px;
  }
  @media (max-width: 768px) {
    --offset-left-and-width: 30px;
    --heigth-and-line-height: 20px;
  }
  @media (max-width: 500px) {
    --offset-left-and-width: 20px;
    --heigth-and-line-height: 10px;
  }
}

.switch {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.switch-title {
  color: white;
  @media (max-width: 500px) {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}
.switch-input {
  display: none;
}
.switch-control {
  position: relative;
  display: inline-block;
  width: 90px;
  height: var(--heigth-and-line-height);
  background: #ccc;
  vertical-align: middle;
  margin-left: 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
  @media (max-width: 992px) {
    width: 80px;
  }
  @media (max-width: 768px) {
    width: 60px;
  }
  @media (max-width: 500px) {
    width: 40px;
  }
  &::before, &::after {
    content: attr(data-lang-on);
    position: absolute;
    top: 0;
    height: var(--heigth-and-line-height);
    width: var(--offset-left-and-width);
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: var(--heigth-and-line-height);
    border-radius: 0.2rem;
    transition: 0.3s cubic-bezier(0, 1, 0.5, 1);
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    @media (max-width: 500px) {
      font-size: 0.6rem;
    }
    left: 0;
    background: var(--accent-color);
    color: white;
  }
  &::after {
    content: attr(data-lang-off);
    /* position: absolute;
    top: 0;
    height: var(--heigth-and-line-height);
    width: var(--offset-left-and-width);
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: var(--heigth-and-line-height);
    border-radius: 0.2rem;
    transition: 0.3s cubic-bezier(0, 1, 0.5, 1);
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    @media (max-width: 500px) {
      font-size: 0.6rem;
    } */
    left: var(--offset-left-and-width);
    background: #ccc;
  }
}
.switch-input:checked + .switch-control::before {
  content: attr(data-lang-off);
  left: var(--offset-left-and-width);
}
.switch-input:checked + .switch-control::after {
  content: attr(data-lang-on);
  left: 0px;
}
.switch-input:not(:checked) + .switch-control:hover::after {
  transform: scale(1.1);
  @media (max-width: 1200px) {
    transform: initial;
  }
}
.switch-input:checked + .switch-control:hover::after {
  transform: scale(1.1);
  @media (max-width: 1200px) {
    transform: initial;
  }
}
